<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>견적 조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .container {
        font-family: "Apple SD Gothic Neo";
    }
</style>
<body>
<div class="container">
    <div>
        <h3>restoration: 견적 요청</h3>
        <p>form -> new</p>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${restorationCreate}">
<!--                <td th:text="${list.rstr_no}"></td>-->
<!--                <td th:text="${list.category_top}"></td>-->
<!--                <td th:text="${list.category_base}"></td>-->
<!--                <td th:text="${list.brand_name}"></td>-->
                <td th:text="${list}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>