<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>견적조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    table {
        border-collapse: collapse;
    }
    td {
        font-size: 14px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        text-align: center;
        padding: 8px;
    }
</style>
<body>
<div class="container">
    <div>
        <h3>restoration: 견적 리스트(대기)</h3>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>state</th>
                <th>brand_name</th>
                <th>note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="res : ${reses}">
                <td th:text="${res.rstr_no}"></td>
                <td th:text="${res.state}"></td>
                <td th:text="${res.brand_name}"></td>
                <td th:text="${res.note}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>