<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>견적 조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    table {
        border-collapse: collapse;
    }
    td {
        font-size: 14px;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        text-align: center;
        padding: 8px;
    }
     .container {
         font-family: "Apple SD Gothic Neo";
     }
</style>
<body>
<div class="container">
    <div>
        <h3>estimate: 견적 조회</h3>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="list : ${estimateList}">
                <td th:text="${list.rstr_no}"></td>
                <td th:text="${list.category_top}"></td>
                <td th:text="${list.category_base}"></td>
                <td th:text="${list.brand_name}"></td>
                <td th:text="${list.note}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>