<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>견적 조회</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .container {
        font-family: "Apple SD Gothic Neo";
    }
</style>
<body>
<div class="container">
    <div>
        <h3>refuse: 수선불가 등록</h3>
        <div>
            <form action="/refuse/new/{rstr}" method="post">
                <div class="form-group">
                    <label for='rstr'>id</label>
                    <input type="text" id="rstr" name="rstr" placeholder="수선번호 입력">
                </div>
                <button type="submit">등록</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>