<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h3>dashboard</h3>
<!--        <td th:text="${notification}"></td>-->
<!--        <td th:text="${notice}"></td>-->
<!--        <td th:text="${restoration}"></td>-->
<!--        <td th:text="${ongoing}"></td>-->
        <td th:text="${dash}"></td>
    </div>
</div>
</body>
</html>