<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h3>project prt</h3>
        <p>
            <a href="/notice/view">show notice</a>
        </p>
        <p>
            <a href="/user/view">show user</a>
        </p>
        <p>
            <a href="/restoration/view">show restorations</a>
        </p>
        <p>
            <a href="/estimate/view">show estimate</a>
        </p>
    </div>
</div>
</body>
</html>