<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" style="display: flex">
    <h3 style="width: 120px;">project prt</h3>
    <div style="width: 200px; height: 500px">
        <h4>view</h4>
        <p>
            <a href="/notice/view">notice view</a>
        </p>
        <p>
            <a href="/user/view">user view</a>
        </p>
        <p>
            <a href="/restoration/view">restorations view</a>
        </p>
        <p>
            <a href="/estimate/view">estimate view</a>
        </p>
        <p>
            <a href="/suggest/view">suggest view</a>
        </p>
    </div>
    <div style="width: 300px; height: 500px">
        <h4>form</h4>
        <p>
            <a href="/estimate/form">estimate 조회</a>
        </p>
        <p>
            <a href="/estimate/insert">estimate 견적제안 생성(수선사)</a>
        </p>
        <p>
            <a href="/estimate/suggestForm">estimate 제안한 견적 조회</a>
        </p>
        <p>
            <a href="/restoration/form">restoration 견적 생성(고객)</a>
        </p>
        <p>
            <a href="/refuse/form">estimate 수선불가 등록</a>
        </p>
    </div>
</div>
</body>
</html>