<!DOCTYPE HTML>
<html xmlns:th="'http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div>
        <h3>user 정보</h3>
<!--        <p th:text="'hello~ ' + ${users}">hello! empty</p>-->
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.user_no}"></td>
                <td th:text="${user.user_id}"></td>
                <td th:text="${user.user_name}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>